
  .books-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .book {
    width: 32%;
    margin-bottom: 1em;
    text-align: center;
  }

  
  .book h3,
  .book p {
    margin-bottom: 1em;
  }
  
  .book .date {
    font-size: 0.7em;
    font-style: italic;
  }
  
  a {
    color: purple;
    padding: 0.3em 0.6em;
  }
  
  a:hover {
    background-color: #efefef;
  }